In [10]:
import os
cwd = os.getcwd()

In [83]:
print("Current working directory: {0}".format(cwd))

Current working directory: C:\Users\00423S744

In [86]:
os.chdir(r"C:\Users\00423S744\Desktop\Geek\Python")

In [88]:
cw1=os.getcwd()
print("Current working directory: {0}".format(cw1))

Current working directory: C:\Users\00423S744\Desktop\Geek\Python

In [57]:
import numpy as np
import pandas as pd
df=pd.read_csv("diabetic_data.csv")
df1=pd.read_csv("diabetic_data.csv")

In [23]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [24]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [33]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [37]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [58]:
df1=df1[['readmitted']]

In [59]:
df1.head()

  readmitted
0         NO
1        >30
2         NO
3         NO
4         NO

In [61]:
df1['readmitted'].unique()

array(['NO', '>30', '<30'], dtype=object)

In [63]:
df['readmitted']=df1['readmitted']
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [64]:
for col in df.columns:
 print(col)

encounter_id
patient_nbr
race
gender
age
weight
admission_type_id
discharge_disposition_id
admission_source_id
time_in_hospital
payer_code
medical_specialty
num_lab_procedures
num_procedures
num_medications
number_outpatient
number_emergency
number_inpatient
diag_1
diag_2
diag_3
number_diagnoses
max_glu_serum
A1Cresult
metformin
repaglinide
nateglinide
chlorpropamide
glimepiride
acetohexamide
glipizide
glyburide
tolbutamide
pioglitazone
rosiglitazone
acarbose
miglitol
troglitazone
tolazamide
examide
citoglipton
insulin
glyburide-metformin
glipizide-metformin
glimepiride-pioglitazone
metformin-rosiglitazone
metformin-pioglitazone
change
diabetesMed
readmitted

In [65]:
df=df[['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone','readmitted']]

In [66]:
df.head()

,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,...,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,readmitted
0,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,NO
1,No,No,No,No,No,No,No,No,No,No,...,No,No,No,Up,No,No,No,No,No,>30
2,No,No,No,No,No,No,Steady,No,No,No,...,No,No,No,No,No,No,No,No,No,NO
3,No,No,No,No,No,No,No,No,No,No,...,No,No,No,Up,No,No,No,No,No,NO
4,No,No,No,No,No,No,Steady,No,No,No,...,No,No,No,Steady,No,No,No,No,No,NO

In [67]:
# all column are label encoded using for loop
for col in df.columns:
  ordinal_label = {k: i for i, k in enumerate(df[col].unique(), 0)}
  df[col] = df[col].map(ordinal_label)

In [68]:
df.head()

,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,...,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,readmitted
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,2,0,0,0,0,0,0

In [69]:
df['readmitted'].unique()

array([0, 1, 2], dtype=int64)

In [77]:
### train Test split is usually done to avaoid overfitting
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df[['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone']],
                                              df['readmitted'],test_size=0.25,random_state=100)

In [78]:
X_train.head()

,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,...,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone
36105,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
39489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,0
38006,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47897,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48299,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
X_train.isnull().sum()

metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
dtype: int64

In [80]:
## Perform chi2 test
### chi2 returns 2 values
### Fscore and the pvalue
from sklearn.feature_selection import chi2
f_p_values=chi2(X_train,y_train)

In [81]:
f_p_values

(array([ 55.30510357,  67.89386945,   3.28171763,   7.82472177,
          4.07340118,   1.87602683,  26.17553059,   4.28692297,
          1.63609023,  21.89359026,  18.75457349,  18.29986136,
          6.73745966,   1.45189594,   2.47331186,          nan,
                 nan, 189.1796746 ,   2.57314937,   1.95437912,
                 nan,   0.85158051,   0.85158051]),
 array([9.78699459e-13, 1.80731383e-15, 1.93813520e-01, 1.99932435e-02,
        1.30458438e-01, 3.91404622e-01, 2.07040712e-06, 1.17248287e-01,
        4.41293489e-01, 1.76143767e-05, 8.46244993e-05, 1.06227166e-04,
        3.44333458e-02, 4.83865661e-01, 2.90353559e-01,            nan,
                   nan, 8.32061862e-42, 2.76215289e-01, 3.76367372e-01,
                   nan, 6.53253346e-01, 6.53253346e-01]))

In [82]:
import pandas as pd
p_values=pd.Series(f_p_values[1])
p_values.index=X_train.columns
p_values

metformin                   9.786995e-13
repaglinide                 1.807314e-15
nateglinide                 1.938135e-01
chlorpropamide              1.999324e-02
glimepiride                 1.304584e-01
acetohexamide               3.914046e-01
glipizide                   2.070407e-06
glyburide                   1.172483e-01
tolbutamide                 4.412935e-01
pioglitazone                1.761438e-05
rosiglitazone               8.462450e-05
acarbose                    1.062272e-04
miglitol                    3.443335e-02
troglitazone                4.838657e-01
tolazamide                  2.903536e-01
examide                              NaN
citoglipton                          NaN
insulin                     8.320619e-42
glyburide-metformin         2.762153e-01
glipizide-metformin         3.763674e-01
glimepiride-pioglitazone             NaN
metformin-rosiglitazone     6.532533e-01
metformin-pioglitazone      6.532533e-01
dtype: float64

In [76]:
p_values.sort_index(ascending=False)

troglitazone                4.846375e-01
tolbutamide                 5.290937e-01
tolazamide                  2.886248e-01
rosiglitazone               6.751138e-05
repaglinide                 4.622371e-14
pioglitazone                8.562821e-05
nateglinide                 1.556979e-01
miglitol                    5.710469e-02
metformin-rosiglitazone     6.528747e-01
metformin-pioglitazone      6.528747e-01
metformin                   2.524985e-12
insulin                     8.717109e-42
glyburide-metformin         4.247313e-01
glyburide                   3.581298e-01
glipizide-metformin         3.772409e-01
glipizide                   1.482651e-06
glimepiride-pioglitazone             NaN
glimepiride                 1.580432e-01
examide                              NaN
citoglipton                          NaN
chlorpropamide              2.267846e-02
acetohexamide               3.919296e-01
acarbose                    1.234540e-04
dtype: float64